.filter-box {
  background-color: white;
  width: 90%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Spartan', sans-serif;
  min-height: 50px;
  padding: 16px;
  box-shadow: 4px 11px 15px -3px rgba(91,164,164,0.32);
}

.filter-list {
  padding: 0;
  margin: 0;
}

.filter-list__item {
  display: inline-flex;
  padding: 0;
  margin: 10px;
}

.filter-list__item-name {
  color: var(--desaturated-dark-cyan);
  background-color: var(--light-grayish-cyan2);
  padding: 9px;
  border-radius: 3px;
}

.filter-list__close {
  background-color: var(--desaturated-dark-cyan);
  color: white;
  padding: 9px;
  border-radius: 3px;
  width: 36px;
}

.filter-list__close:hover {
  background-color: black;
}

.clear {
  color: var(--dark-grayish-cyan);
  background-color: white;
  border: none;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}

.clear:hover {
  text-decoration: underline;
  color: var(--desaturated-dark-cyan);
}

.hide-filter {
  opacity: 0;
}