.header {
  margin: 0;
  padding: 0;
  background: hsl(180, 29%, 50%) url('../images/bg-header-desktop.svg') no-repeat center/cover;
  height: 20vh;
}

@media only screen and (max-width: 992px) {
  .header {
    background: hsl(180, 29%, 50%) url('../images/bg-header-mobile.svg') no-repeat center/cover;
  }
}