.JobList {
  background-color: hsl(180, 52%, 96%);
  height: 100%;
  width: 100vw;
  padding: 60px 150px; /*fix this later based on max-width of card*/
  display: flex;
  flex-direction: column;
  align-items: center;
}