*, *:after, *:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

:root {
  --light-background: hsl(180, 52%, 96%);
  --red: #ff0000;
}

body {
  background-color: var(--light-background);
}