*, *:after, *:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

:root {
  --light-background: hsl(180, 52%, 96%);
}

body {
  background-color: var(--light-background);
}

.header {
  margin: 0;
  padding: 0;
  background: hsl(180, 29%, 50%) url('../src/images/bg-header-desktop.svg') no-repeat center/cover;
  height: 20vh;
}

@media only screen and (max-width: 992px) {
  .header {
    background: hsl(180, 29%, 50%) url('../src/images/bg-header-mobile.svg') no-repeat center/cover;
  }
}